@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Space+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&family=Space+Mono&display=swap");

:root {
  --dark: #1e1e1e;
  --light: #f1eef5;
  --border: #363636;
  --border-btn: #3e3e3e;
  --accent-color-1: #7491e9;
  --accent-color-2: #4f7ae8;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: var(--dark);
}

a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}

tr {
  color: var(--light);
}

.container {
  max-width: 1024px;
  margin: auto;
}

.nav-brand {
  font-size: 2em;
  font-weight: bold;
  color: #4f7ae8;
}

.d-flex {
  display: flex;
  flex-wrap: wrap;
}

.justify-between {
  justify-content: space-between;
}

.text-center {
  text-align: center;
}

.border-shadow {
  border: 1px solid var(--border-btn);
  box-shadow: 1px 3px 10px #121212;
}

.text-dark {
  color: var(--dark);
}

.text-heading {
  color: #4f7ae8;
}

.inline {
  display: inline-block;
}

.text-light {
  color: var(--light);
}

.text-gradient,
.fas {
  background: linear-gradient(
    to right,
    var(--accent-color-1),
    var(--accent-color-2)
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

#header nav {
  background-color: #1e1e1e;
  padding: 1em 0em;
  width: 100%;
  box-shadow: 1px 0px 10px #121212;
}

#site-main {
  margin-top: 6em;
  font-family: "Open-Sans", sans-serif;
}

#site-main .container .box-nav > a {
  font-size: 1em;
  padding: 0.5em 1em;
}

#site-main .container form {
  margin: 2em 0;
}

table {
  border-spacing: 0px;
  width: 100%;
}

.table td,
.table th {
  padding: 1em;
  vertical-align: top;
  text-align: center;
  border-top: 1px solid var(--border);
}

.table td > a.btn {
  padding: 0.3em 1em;
  font-size: 1.1em;
  margin: 0.2em;
}

.table tr:hover td {
  background-color: var(--accent-color-1);
}

.table tr:hover td > a {
  box-shadow: none;
  border: 1px solid transparent;
  background: var(--light);
}

.table .thead-dark th {
  background-color: var(--accent-color-2);
}

@media only screen and (max-width: 1024px) {
  table,
  thead,
  tbody,
  th,
  tr,
  td {
    display: block;
  }

  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr {
    border: 1px solid var(--border);
  }

  td {
    border: none;
    position: relative;
  }
}

/* add user & update user template */

.form-title {
    margin-top: 4em;
}

.form-title > h2 {
    padding: .5em 0;
}

.form-label {
    font-weight: bold;
}

.new-user {
    max-width: 786px;
    margin: auto;
}

#update_user .form-group,
#add_user .form-group {
    margin: .4em 0;
}

#update_user .form-group input[type="text"],
#add_user .form-group input[type="text"]{
    color: var(--light);
    width: 100%;
    padding: .6em 1em;
    margin: .5em 0;
    border: 2px solid var(--border);
    font-family: "Open-Sans", sans-serif;
    font-size: 1em;
    border-radius: .2em;
}

#update_user .form-group .radio,
#add_user .form-group .radio {
    margin: 1em 2em;
}

/* adding style to radio button */

.radio input[type="radio"] {
    position: absolute;
    opacity: 0;
} 
.radio input[type="radio"] + .radio-label:before {
    content: "";
    background: var(--border-btn);
    border-radius: 100%;
    border: 1px solid var(--border);
    display: inline-block;
    width: 1em;
    height: 1em;
    position: relative;
    top: -0em;
    margin-right: .5em;
    vertical-align: top;
    cursor: pointer;
    text-align: center;
    -webkit-transition: all 250ms ease;
    transition: all 250ms ease;
}

.radio input[type="radio"]:checked + .radio-label:before {
    background-color: var(--accent-color-1);
    box-shadow: inset 0 0 0 4px #363636;
}

.radio input[type="radio"]:focus + .radio-label:before {
    outline: none;
    border-color: var(--accent-color-1);
}
.radio input[type="radio"]:disabled + .radio-label:before {
    box-shadow: inset 0 0 0 4px #363636;
    border-color: #f1eef5;
    background: #f1eef5;
}

#update_user .form-group .btn,
#add_user .form-group .btn {
    width: 100%;
    padding: .9em 1em;
    background-color: var(--accent-color-2);
    border: none;
    font-family: "Roboto", sans-serif;
    font-size: 1em;
    cursor: pointer;
    border-radius: .2em;
    margin: .5em 0;
}